Repository Filpon/intellect-mindscape: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pytest, mypy, ruff

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: local
    hooks:
      - id: run-pytest
        name: Run Pytest
        entry: ./auth-backend/run-pytest.sh
        # entry: pytest ./auth-backend/tests/ --maxfail=3 --disable-warnings --collect-only
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: Running mypy
        entry: mypy . ./app
        additional_dependencies: [mypy]
        language: python
        types: [python]
        stages: [pre-commit]
        args: ["--config-file", "pyproject.toml"]
        files: ^auth-backend/.*\.py$
        working_dir: auth-backend
  - repo: local
    hooks:
      - id: ruff
        name: Running ruff with fixing
        entry: ruff --config ./auth-backend/pyproject.toml check ./auth-backend  # --fix --unsafe-fixes
        language: python
        types: [python]
        stages: [pre-commit]
        files: ^auth-backend/.*\.py$
  - repo: local
    hooks:
      - id: prettier
        name: Running prettier
        entry: "cd ./auth && yarn format"
        # entry: yarn --cwd ./auth format
        language: system
        stages: [pre-commit]
  - repo: local
    hooks:
      - id: eslint
        name: Running eslint
        entry: "cd ./auth && yarn eslint --fix"
        # entry: yarn --cwd ./auth seslint
        language: node
        stages: [pre-commit]

docs: update components representation
  README.md
  description/pictures/intellect-mindscape-auth.png
  description/pictures/intellect-mindscape-music.png
  tech-presentation.md
Due: none

fix: edit docs representation
  tech-presentation.md
Due: none

feat: modify data storage methodology
  .gitignore
  compose.yaml
Due: none

chore: edit trigonometry mode representation
  quiz/src/components/trigonometry/TrigonometryQuestion.tsx
Due: none

chore: modify containers interaction
  auth-backend/app/main.py
  auth-backend/app/schemas/auth.py
  auth/src/utils/Tokens.ts
  quiz-backend-api/app/main.py
  quiz-backend-api/uv.lock
  quiz/src/App.tsx
  quiz/src/components/Navbar.tsx
  quiz/src/services/Tokens.ts
Due: run-pytest, mypy, ruff

feat: include admin service
  admin/.gitignore
  admin/.prettierignore
  admin/.prettierrc
  admin/Dockerfile
  admin/package.json
  admin/public/bootstrap.css
  admin/public/favicon.ico
  admin/public/index.html
  admin/public/logo192.png
  admin/public/logo512.png
  admin/public/manifest.json
  admin/public/robots.txt
  admin/src/App.tsx
  admin/src/components/AdminPanel.tsx
  admin/src/components/GameSessionList.tsx
  admin/src/components/NavBar.tsx
  admin/src/components/Spinner.tsx
  admin/src/components/UserForm.tsx
  admin/src/components/UserList.tsx
  admin/src/components/common/ModalWindow.tsx
  admin/src/components/common/ModalWindowConfirm.tsx
  admin/src/index.tsx
  admin/src/serviceWorker.ts
  admin/src/services/AxiosRequest.ts
  admin/src/services/Tokens.ts
  admin/src/services/gameService.ts
  admin/src/services/userService.ts
  admin/src/styles/AdminPanel.scss
  admin/src/styles/GameSessionList.scss
  admin/src/styles/Spinner.scss
  admin/src/styles/UserForm.scss
  admin/src/styles/UserList.scss
  admin/src/styles/main.scss
  admin/src/utils/commonUtils.ts
  admin/tsconfig.json
  admin/yarn.lock
  compose.yaml
  nginx/site.conf
  quiz-backend-api/app/services/game.py
Due: run-pytest

feat: disable admin current user excluding
  admin/src/App.tsx
  admin/src/components/UserList.tsx
  admin/src/services/userService.ts
Due: none

feat: include users cache storing
  auth-backend/app/caches/keydb.py
  auth-backend/app/main.py
  auth-backend/app/routers/auth.py
  auth-backend/app/utils/keydb.py
  compose.yaml
  redis/Dockerfile
Due: run-pytest, mypy, ruff

refactor: modify components code style
  quiz/src/components/Chat.tsx
  quiz/src/components/Game.tsx
Due: none

refactor: modify code style
  quiz/package.json
  quiz/public/manifest.json
  quiz/tsconfig.json
Due: none

chore: modify containers start
  compose.yaml
  keycloak/Dockerfile
  keycloak/import-realm.sh
  ollama/Dockerfile
Due: none

feat: include new auth backend unit tests
  .example-env
  auth-backend/app/main.py
  auth-backend/app/services/keycloak.py
  auth-backend/pyproject.toml
  auth-backend/requirements.txt
  auth-backend/tests/conftest.py
  auth-backend/tests/data_generating_testing.py
  auth-backend/tests/test_main.py
  auth-backend/tests/test_run_in_containers.py
  auth-backend/uv.lock
  compose.yaml
Due: run-pytest, mypy, ruff

feat: include quiz backend unit tests
  .example-env
  compose.yaml
  quiz-backend-api/pyproject.toml
  quiz-backend-api/run-pytest.sh
  quiz-backend-api/tests/__init__.py
  quiz-backend-api/tests/conftest.py
  quiz-backend-api/tests/data_generating_testing.py
  quiz-backend-api/tests/test_run_in_containers.py
Due: run-pytest

refactor: modify unit test responses
  auth-backend/tests/conftest.py
  auth-backend/tests/test_run_in_containers.py
  quiz-backend-api/tests/test_run_in_containers.py
Due: run-pytest, mypy, ruff

feat: include start file
  Makefile
Due: none

feat: include mypy checking
  auth-backend/app/brokers/kafka.py
  auth-backend/app/caches/keydb.py
  auth-backend/app/configs/logging_handler.py
  auth-backend/app/exceptions/custom_exceptions.py
  auth-backend/app/main.py
  auth-backend/app/middlewares/logging_middleware.py
  auth-backend/app/middlewares/middleware.py
  auth-backend/app/routers/auth.py
  auth-backend/app/services/keycloak.py
  auth-backend/pyproject.toml
  auth-backend/requirements.txt
  auth-backend/uv.lock
  quiz-backend-api/tests/data_generating_testing.py
Due: run-pytest, mypy, ruff

chore(quiz-backend-ai): modify application start
  quiz-backend-ai/app/kafka/kafka_consumer.py
  quiz-backend-ai/app/main.py
  quiz-backend-ai/app/services/create_recommendations.py
Due: run-pytest

chore: modify containers start
  compose.yaml
Due: none

docs: update components representation
  README.md
  description/pictures/intellect-mindscape-arithmetic.png
  description/pictures/intellect-mindscape-trigonometry.png
Due: none

chore: modify compose volumes
  compose.yaml
Due: none

chore: modify compose volume
  compose.yaml
Due: none

chore: update components versions
  auth-backend/Dockerfile
  nginx/Dockerfile
Due: none

refactor: modify code style
  quiz-backend-api/tests/conftest.py
Due: run-pytest

refactor: modify code representation
  auth-backend/app/exceptions/custom_exceptions.py
Due: run-pytest, mypy, ruff

refactor: modify code style
  auth-backend/app/caches/keydb.py
  auth-backend/app/exceptions/custom_exceptions.py
  auth-backend/app/main.py
  auth-backend/app/middlewares/logging_middleware.py
  auth-backend/app/schemas/auth.py
  auth-backend/app/utils/handlers.py
  auth-backend/tests/data_generating_testing.py
Due: run-pytest, mypy, ruff

chore(auth-backend): modify container start
  auth-backend/Dockerfile
Due: none

chore: modify logging representation
  auth-backend/app/configs/logging_handler.py
  quiz-backend-ai/app/configs/logging_handler.py
  quiz-backend-ai/app/utils/logging_handler.py
  quiz-backend-ai/utils/logging_handler.py
  quiz-backend-api/app/configs/logging_handler.py
  quiz-backend-api/app/utils/logging_handler.py
Due: run-pytest, mypy, ruff

chore: modify registration errors handling
  auth/src/components/Register.tsx
Due: none

chore: update broker start
  auth-backend/app/brokers/kafka.py
  quiz-backend-api/app/brokers/kafka.py
  quiz-backend-api/app/brokers/kafka_admin.py
  quiz-backend-api/app/brokers/kafka_producer.py
Due: run-pytest, mypy, ruff

chore: update backend libraries
  auth-backend/pyproject.toml
  auth-backend/requirements.txt
  auth-backend/uv.lock
  quiz-backend-api/requirements.txt
  quiz-backend-api/uv.lock
Due: none

chore: modify connection urls
  quiz-backend-ai/app/utils/process_results.py
  quiz/src/components/Game.tsx
Due: run-pytest
